<div *ngIf="authenticated" class="mat-app-background" id="main-content">
    <app-header (toggleDrawer)="drawer.toggle()"></app-header>
    <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="over">
            <app-left-panel (toggleDrawer)="drawer.toggle()"></app-left-panel>
        </mat-drawer>
        <div>
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-container>
</div>
<div *ngIf="!authenticated" class="mat-app-background" id="login">
    <app-header></app-header>
    <app-login [authenticated]="authenticated"></app-login>
</div>