app-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: #69f0ae;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}